#bubble-container {
    z-index: 0;
    position: absolute;
    top: 0;
}

#bubble-one {
    position: absolute;
    top: -350px;
    left: 30%;
    opacity: 0.1;
}

#bubble-two {
    position: absolute;
    top: 80px;
    left: -250px;
    opacity: 0.1;
}

#bubble-three {
    position: absolute;
    top: 200px;
    right: -250px;
    opacity: 0.1;
}