#contact-me-button {
    z-index: 999;
}

#photo-container {
    padding-top: 50px;
}

#video {
    z-index: 999;
}

#landing-page-container {
    width: 100vw;
    height: calc(100vh - 80px);
    z-index: 999;
}

.status-card {
    background-color: white;
    opacity: 1;
}